# --- Cấu hình tải PyTorch bản CPU cho Windows ---
--extra-index-url https://download.pytorch.org/whl/cpu

# Core Web Framework
fastapi==0.109.2
uvicorn==0.27.1
python-multipart==0.0.9
pydantic-settings==2.1.0

# Database
sqlalchemy==2.0.27

# AI & Machine Learning (Bộ chuẩn Torch 2.6.0)
torch==2.6.0+cpu
torchvision==0.21.0+cpu
torchaudio==2.6.0+cpu
numpy>=2.1.0
intel-openmp

# Speech & NLP
whisperx==3.1.1
transformers==4.38.1
pyannote.audio==3.3.2
edge-tts==6.1.9
groq==0.4.2

# Utilities
yt-dlp>=2025.0.0
python-dotenv==1.0.1
pyngrok==7.1.2
imageio-ffmpeg==0.4.9
matplotlib
librosa
pydub
scipy
pandas